
body.devise {
  .content {
    text-align: center;
  }

  h2 {
    padding-left: 0px;
    margin-bottom: 40px;
    margin-top: 20px;
    font-size:  24px; 
    opacity:  .85;
  }

  h2 strong {
    color: rgba(255, 32, 110,0.8);
  }

  img.welcome {
    margin-bottom: 40px;
    width: 70%;
    height: auto;
  }


  .images_signup {
    position: relative,
  }

  img.signup {
    position: absolute;
  }

  img.login {
    position: absolute;
    top: -102px;
    right: 249px;
  }

  .form-control {
    width: 56%;
  }

  label {
    width: 30%;
    color:  #F5F3E8; 
    opacity:  .8;
    font-weight:  400; 
  }
  
  .links {
    text-decoration: none;
    margin-top: 10px;
    color:  #F5F3E8; 
  }

  .centered-form {
    display: flex;
    justify-content: center;

  }

}
