
body.devise {
  .content {
    text-align: center;
  }

  h2 {
    padding-left: 0px;
    margin-bottom: 40px;
    margin-top: 40px;
    font-size:  24px; 
    opacity:  .85;
  }

  h2 strong {
    color: rgba(255, 32, 110,0.8);
  }

  img.welcome {
    margin-bottom: 40px;
    width: 70%;
    height: auto;
    position: relative;
  }

  img.signup {
    position: absolute;
    bottom: 288px;
    right: 33px;
    margin-top: 20px;
  }

  .form-control {
    width: 56%;
  }
  
  .form-group {
    display: flex;
    position: relative;
  }

  .form-group .password {
    margin-bottom: 30px;
  }

  .form-text {
    position: absolute;
    bottom: 9px;
    right: 98px;
  }

  label {
    width: 30%;
    color:  #F5F3E8; 
    opacity:  .8;
    font-weight:  400; 
  }
  
  a.signin-link {
    text-decoration: none;
    margin-top: 10px;
  }

  .form-actions {
    position: absolute;
    bottom: -264px;
    right: 92px;
}
}
