// Specific CSS for your home-page
.banner {
  background-image: asset-url("banimg.png");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  text-align: center;
  height: 80vh;
}

.banner h3 {
  color: #0D1821;
  font-size: 50px;
  margin-bottom: 40px;
  background-color: rgba(248, 245, 241, 0.6);
}

.formulaire {
  display: flex;
  justify-content: center;
}

.home .form-group {
  margin: 0px;
  display: flex;
}

.bouton {
  margin-top: 30px;
}

.bouton a {
  padding: 10px;
  text-decoration: none;
  color: white;
  background-color: #0D1821;
}

.bouton a:hover {
  background-color: white;
  color: #0D1821;
}

#options {
  border-radius: 20px 0px 0px 20px;
  padding: 15px;
  border: none;
}

#location {
  border: none;
  padding-left: 10px;
}

#dates {
  border: none;
  padding-right: 10px;
}


#submit {
  border-radius: 0px 20px 20px 0px;
  border: none;
  background-color: #a7bbc7;
}
