<div class="banniere">
  <div class="container container-index-animals">
    <h1>My own booking's dates</h1>
    <h3>here is the list of the bookings i made.</h3>
    <hr class= "yellow">
  </div>
</div>
<ul>
  <% if @bookings.empty? %>
    <p>Vamos to Booking together !!</p>
  <% else %>
    <% @bookings.each do |booking| %>
      <li> <%= link_to booking.date, animal_path(booking.animal) %> </li>
    <% end %>
  <% end %>
</ul>
