<div class="navbar navbar-expand-lg navbar-light bg-light">
    <%= image_tag("logopet.png", class: "logo") %>
    <div class="btn btn-secondary">
      <div class="collapse navbar-collapse" href="#">
        Menu
      </div>
    </div>

</div>
<div class="banner">
  <div class="container">
    <h3>Découvrez nos animaux</h3>
    <form class=form>
        <input class="form-control me-2 mt-3" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-secondary mt-4" type="submit">Search</button>
      </form>
  </div>
</div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
</footer>
<!-- Footer -->
