<div class="banniere">
  <div class="container container-index-animals">
    <h1>Add an animal to my Beastiaray</h1>
    <h3>Its time to add a new beast to my list .</h3>
    <hr class= "yellow">
  </div>
<%= render 'form', animal: @animal %>
</div>
