.animal-show {
  display: flex;
  background-color: #fff;
}

.card-animal-left {
  width: 50%;
  display: flex;
  flex-direction: column;

}
.card-animal-left img {
  margin-left: 0;
  width: 300;
  height: fit-content;
}

.card-animal-right {
  width: 50%;
  background-image: linear-gradient(rgba(226, 41, 41, 0.568), rgba(0, 0, 0, 0.048));
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.3fr 1fr 0.5fr;
}
.card-animal-name {
  grid-column: 1 / span 2;
  grid-row: 1;
}

.card-animal-srg {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.card-accesoiries {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3));
  grid-column: 2;
  grid-row: 2;
}
.card-animal-description {
  grid-column: 1 / span 2;
  grid-row: 3;
}