h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
    padding-left: 20px;
}

h3 {
    font-size: 1.3rem;
    font-variant: small-caps;
    font-weight: bolder;
    padding-left: 4px;
}

h4 {
    font-size: 1.1rem;
}

p {
  font-size: 0.8rem;
}

.animal-show {
  position:relative;
  display: flex;
  background: #101A21;
  border-radius: 5px;
  width: 650px;
  height: 525px;
  margin: 50px auto;
  box-shadow: 0 0 15px rgba(255, 32, 110,0.8);
  border: 1px solid rgba(128, 128, 128, 0.336);
}

.animal-container {
  padding-top: 50px;
  width: 150px;
  text-align: left;
  margin: 0 auto;
  font-size: 0.8rem;
  margin-left: 37px;
  color: white;
  font-weight: bold;
}

.container-margin {
  width: 150px;
  border-right: solid 1px;
  border-color: white;
  background-color: #0d1821;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.card-animal-left {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-animal-left img {
  width: 300px;
  height: fit-content;
  margin-left: 20px;
  margin-top: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}

.card-animal-right {
  padding: 10px;
  flex-grow: 1;
}

.section-bottom {
  height: 288px;
}

.card-animal-name {
  grid-column: 1 / span 2;
  grid-row: 1;
  // margin-left: -30px;
  margin-left: 220px;
  height: 225px;
}

.card-animal-srg {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.card-accesoiries {
  margin-top: 10px;
}

.card-animal-description {
  width: 200px;
  margin-top: 10px;
}

.prix {
  font-weight: bold;
  margin: 10px;
}

.btn-container {
  margin-top: 2px;
  background-color: #0d1821;
}
