.container1 {
  margin: 0px;
}

#dropdownMenuButton {
  background-color: #a7bbc7;
  margin-right: 10px;
}

.logo {
  height: 70px;
  margin-left: 10px;
}

.avatar {
  margin-left: 10px;
  border-radius: 50%;
}

.button {
  right: 50px;
  align-items: center;
}
